.slider-container {
  position: relative;
  /* width: 300px;
  height: 400px; */
  overflow: hidden;
  display: flex;
  justify-content: center; /* Centering images horizontally */
  align-items: center; /* Centering images vertically */
}

.image-box {
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  justify-content: start;
  /*  align-items: center; */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slider-image {
  /* width: 250px;
  height: 350px; */
  max-width: 250px !important;
  /* width: 80%; */
  /* height: auto; */
  /* object-fit: contain; */
  /* border-radius: 40px; */
}

/* Styles for the first image sliding from right to left */
.image-box.active-horizontal-right {
  opacity: 1;
  /* animation: slide-right 1s ease-in-out forwards; */
  justify-content: flex-end;
}

@keyframes slide-right {
  0% {
    transform: translateX(100%); /* Slide from right outside the container */
    opacity: 0;
  }
  50% {
    transform: translateX(0); /* Center the image */
    opacity: 1;
  }
  100% {
    transform: translateX(0); /* Stay centered */
    opacity: 1;
  }
}

/* Styles for the second image sliding from left to right */
.image-box.active-horizontal-left {
  opacity: 1;
  /* animation: slide-left 1s ease-in-out forwards; */
  justify-content: flex-end;
}

@keyframes slide-left {
  0% {
    transform: translateX(-100%); /* Slide from left outside the container */
    opacity: 0;
  }
  50% {
    transform: translateX(0); /* Center the image */
    opacity: 1;
  }
  100% {
    transform: translateX(0); /* Stay centered */
    opacity: 1;
  }
}

/* Styles for the remaining images sliding from bottom to top */
.image-box.active-vertical {
  opacity: 1;
  animation: slide-up-down 0.4s ease-in-out forwards; /* Adjusted duration */
}

@keyframes slide-up-down {
  0% {
    transform: translateY(30px); /* Start position (more down) */
    opacity: 0;
  }
  40% {
    transform: translateY(-20px); /* Upward peak position */
    opacity: 1;
  }
  100% {
    transform: translateY(0); /* End position (neutral) */
    opacity: 1;
  }
}
