* {
  /* background-color: #fff; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

.css-wq8qsl-MuiFormHelperText-root.Mui-error {
  margin-left: 4px !important;
}

.chips {
  /* box-shadow: rgba(107, 130, 205, 0.2) 0px 2px 8px 0px; */
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  overflow: hidden;
}

.chips .mantine-Chip-iconWrapper {
  display: none;
}

.chips label {
  padding: 0.9rem 1rem;
  background-color: #ffffff !important;
  border-radius: inherit;
}

.chips label:where([data-checked]) {
  background-color: #30335c !important;
}

.chips label span {
  color: #17233a;
  font-size: 1rem;
}
.chips label:where([data-checked]) span {
  color: #ffffff;
}

.carousel_img {
  /* background-color: #ffffff !important; */
  box-shadow: -30px 24px 34px 0px #ffffff inset;
  border: 2px solid #ffffff;
  width: 100%;
  border-radius: 30px !important;
  margin-top: 40px;
  background: #f1efef;
}
.carousel_img_lead {
  /* background-color: #ffffff !important; */
  box-shadow: -30px 24px 34px 0px #ffffff inset;
  border: 2px solid #ffffff;
  width: 100%;
  border-radius: 30px !important;
  background: #f1efef;
}

.slick-list {
  border-radius: 40px !important;
}

.slick-slide {
  border-radius: 40px !important;
}

.bg-img {
  background-image: url("../src/assets/images/bg.png");
  background-position: right;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

button:focus {
  outline: none !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent !important;
  color: #000000 !important;
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset !important;
  -webkit-text-fill-color: #000000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

input {
  color: #000 !important;
}

input[type="radio"] {
  border: 0px;
  width: 18px;
  height: 2em;
}

/* Remove arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.landing-bg-img {
  background-image: url("../src/assets/images/SFImage4352.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  width: 90%;
  /* height: 100vh; */
  min-height: 100vh;
}

.loader circle {
  color: #30335C;
}

@media (min-width: 768px) {
  .landing-bg-img {
    background-attachment: scroll;
    background-size: cover;
    background-position: left;
    min-height: 100vh;
  }
}

