* {
  /* background-color: #fff; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

.chips {
  box-shadow: rgba(107, 130, 205, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
}

.chips label {
  border: none !important;
  color: #032d60;
}

.chips label span {
  color: #215ca9;
}

.carousel_img {
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* padding: 1rem; */
  width: 100%;
}

.slick-list {
  height: 80vh !important;
}
